.background {
  background: url("https://raw.githubusercontent.com/ThaCheeseBun/TejpCast/master/receiver-background.png") cover no-repeat;
}

.logo {
  background: url("https://raw.githubusercontent.com/ThaCheeseBun/TejpCast/master/tejpcast.png");
}

.splash {
  background: url("https://raw.githubusercontent.com/ThaCheeseBun/TejpCast/master/splash_tejpcast.png");
}
